.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error_code {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 400px;
  display: flex;
  align-items: center;
  letter-spacing: 30px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
}

.error_death_star {
  position: absolute;
  top: 55px;
  z-index: 2;
  width: 400px;
}

.error_btn {
  background: #73d677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.error_btn:active {
  background: #48894a;
}

@media (max-width: 424px) {
  /* MOBILE */

  .error_code {
    margin-top: 60px;
    font-size: 150px;
  }
  .error_death_star {
    top: 80px;
    left: 125px;
    width: 150px;
  }
}
