.card-layout__item {
  width: 200px;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 13px;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 3px 2px 5px 1px rgba(255, 255, 255, 0.26);
  box-shadow: 3px 2px 5px 1px rgba(255, 255, 255, 0.26);
}

.card-layout__item:hover {
  -webkit-box-shadow: 17px 11px 21px 6px rgba(255, 255, 255, 0.34);
  box-shadow: 17px 11px 21px 6px rgba(255, 255, 255, 0.34);
  transition: all 0.3s ease-in;
}

.card-layout__item_name {
  margin-bottom: 20px;
}
.card-layout__item_size {
  display: flex;
  margin-bottom: 5px;
}
.card-layout__item_size_properties {
  border: 2px solid #ffffff;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  margin-left: 4px;
  font-size: 12px;
}

.card-layout__item_size_properties_naming > span {
  color: #848282;
  font-size: 12px;
  margin-left: 5px;
}

.card-layout__item_gender_year {
  display: flex;
  margin-top: 20px;
}

.card-layout__item_gender_pink {
  background: #c956ff;
  box-shadow: inset 0px -2px 0px rgb(0 0 0 / 18%);
  border-radius: 11px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #212121;
  padding: 2px 10px;
}

.card-layout__item_gender_green {
  background: #73d677;
  box-shadow: inset 0px -2px 0px rgb(0 0 0 / 18%);
  border-radius: 11px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #212121;
  padding: 2px 10px;
}
.card-layout__item_gender_yellow {
  background: #f5db13;
  box-shadow: inset 0px -2px 0px rgb(0 0 0 / 18%);
  border-radius: 11px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #212121;
  padding: 2px 10px;
}

.card-layout__item_birthYear {
  background: #07d6f2;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #212121;
  padding: 2px 10px;
  margin-left: 5px;
}

.modal_item {
  display: flex;
}
.modal_item_image {
  border-right: 2px solid #ffffff;
  margin-right: 20px;
}

.modal_item_info_color {
  background: #fdfdfd;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
  padding: 15px;
}

.modal_item_info_color > p {
  margin: 0;
}

.modal_item_size {
  display: flex;
  margin-top: 15px;
}
.modal_item_size_properties {
  border: 2px solid #ffffff;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  margin-left: 4px;
  font-size: 12px;
}

.modal_item_size_properties_naming > span {
  color: black;
  font-size: 12px;
  margin-left: 5px;
}

@media (max-width: 424px) {
  /* MOBILE */

  .modal_item {
    display: flex;
    flex-direction: column;
  }

  .modal_item_image_container {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ffffff;
  }
  .modal_item_image {
    border-right: 0;
    margin: 2px 15px;
    width: 200px;
  }
}
